<!DOCTYPE html>
<html>
  <head>
    <title>Some shit</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/agreenable.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/joint.css">
    <link rel="stylesheet" href="/styles/mystyle.css">
    <link rel="stylesheet" href="/styles/rediculous.css">
    <!--STYLES END-->
  </head>

  <body>
  <% include common\topbar %>

    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/joint.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/joint.layout.DirectedGraph.js"></script>
    <script src="/js/dependencies/joint.shapes.devs.js"></script>
    <script src="/js/dependencies/jquery-2.1.3.min.js"></script>
    <script src="/js/dependencies/paper-full.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/public/routing.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <script src="/js/public/ui.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
