<section class="row text-center">
 <%
      var flash = _.clone(req.flash('err'));
      if (flash.length > 0) { //Check for error existence
      console.log(flash);
 %>
  <ul class="alert alert-success">
    <% Object.keys(flash).forEach(function(err){%>
    <li><%- JSON.stringify(flash[err]) %></li>
    <% }); %>
  </ul>
  <% } %>
<form action="/user/create" method="post" class="form-signin col-xs-4 center-block" id="signupform">
  <h2 class="form-signin-heading ">Create an account</h2>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="Your name" name="name">
  </div>

  <div class="control-group ">
    <input type="text" class="form-control" placeholder="Your favourite animal" name="favan">
  </div>

  <div class="control-group ">
    <input type="text" class="form-control" placeholder="Your email" name="email">
  </div>

  <div class="control-group ">
    <input type="password" class="form-control" placeholder="Password" name="password" id="password">
  </div>
  <div class="control-group ">
    <input type="password" class="form-control" placeholder="Password confirmation" name="confirmation">
  </div>

  <input type="submit" class="btn btn-lg btn-primary btn-block " value="Create account">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
</section>
