html, body {
  height: 100%;
}

body {
  background: rgba(200,200,200,1);
  overflow: scroll;
}
canvas #flowchart { //that was for the old canvas thing.
  background: white;
}

#paper>svg{
  background-color: #506677;
  background-image: linear-gradient(#979797 2px, transparent 2px),
  linear-gradient(90deg, #979797 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

//RIGHT CLICK MENU
.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
}

.custom-menu li:hover {
  background-color: #DEF;
}
//END RIGHT CLICK MENU

//Positioning stuff for the off-canvas menu
.navmenu {
  padding-top: 50px;
}
.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  position: absolute;
  float: none;
  @media screen and (max-width: 1215px){ //hide the brand on narrow screercs
    display:none;
  }
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) { //I don't really know what this is for,
  .navbar-toggle {        // but during my research into this technique I always saw this.
    display: block !important;  //And in the example for the bootstrap extension I used it also exists.
  }
}


//This is all basically for panning.
#paper-container {
  box-shadow: 0 0 10px rgba(111, 111, 111, 0.8) inset;
  overflow: auto;
  height: 70rem;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

@media screen and (max-height: 50rem){ //set height for smaller screens
  #paper-container{
    height: 50rem;
  }
}

@media screen and (max-width: 640px){ //phones
  #paper-container{
    height: 100%;
    width:100%;
  }
}
