<nav class="navmenu navmenu-default navmenu-fixed-left offcanvas-lg">
  <a class="navmenu-brand" href="#">Control panel</a>

  <!--off-canvas login if you see this on mobile device-->
  <form class="visible-xs-block panel-group">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass" placeholder="Password">
    </div>
  </form>


<!-- Page-specific menu
  <ul class="nav navmenu-nav">
    <li><a href="#" data-toggle="modal" data-target="#newnode">New node</a></li>
    <li><a href="#" id="save">Save diagram</a></li>
    <li><a href="#" id="center">Scale diagram to view</a></li>
    <li><a href="#" id="scale">Scale diagram to content</a></li>
    <li><a href="#" id="reset">Reset diagram</a></li>
  </ul>-->
</nav>
